body{
    margin-left: 0px;
}

button{
    margin-left: 40px;
    align-items: right;

a{
    margin-left: 10px;
    align-items: center;
}}

body{
    background-image: url(2x1_SuperMarioHub_image1600w.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
div{
    margin-left: 580px;
    
}
div{
    margin-left: 100;
}